<!DOCTYPE html>
<html lang="es-MX">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>N Queens Puzzle | Solución N =</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="coords">
			<div class="h-coord"></div>
			<div class="v-coord"></div>
		</div>
		<canvas id="canvas"></canvas>
		<ul id="queens-list"></ul>
		<span class="error hidden"></span>
		<script src="/js/solution.js"></script>
	</body>
</html>
